# Ignore .env file
.env

# Ignore .json files (ถ้าไม่ต้องการให้ไฟล์ .json ถูกติดตาม)
*.json

# Ignore function folder (ถ้าไม่ต้องการให้ไฟล์ในโฟลเดอร์นี้ถูกติดตาม)
function/

# Ignore send folder (ถ้าไม่ต้องการให้ไฟล์ในโฟลเดอร์นี้ถูกติดตาม)
send/

# Ignore Python bytecode
*.pyc
__pycache__/
